@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Recursive&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --default-text-color: #d3d3d3;
  --default-bg-color: hsl(217, 18%, 15%);
  --link-color: #7878cc;
  --clicked-link-color: var(--link-color);
  /* Other clicked link color option: grey*/
  --current-url-color: #4376e6;
  --light-border-line: #252525;
  --nav-bar-color: hsla(217, 42%, 18%, 50%);
  --footer-bar-color: #22282d;
  --content-color: hsl(220, 26%, 15%);
}

@media (prefers-color-scheme: light) {
  :root {
    --default-text-color: #1f1f1f;
    --default-bg-color: #ffffff;
    --light-border-line: #e4e4e4;
    --nav-bar-color: #fdfdfd;
    --footer-bar-color: #f7f7f7;
    --content-color: hsl(
      220,
      26%,
      15%
    ); /* Can you add the previous content color here pls.  Thx */
  }
}

body {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  position: absolute;
  min-height: 100%;
  width: 100%;
}

nav {
  background-color: var(--nav-bar-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--light-border-line);
}

nav ul {
  font-family: inherit /*Whatev you want*/;
  padding: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

ul.horizontal-list {
  display: flex;
  margin-right: 20px;
  list-style-type: none;
  justify-content: space-evenly;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--clicked-link-color);
}

a:active {
  color: var(--clicked-link-color);
}

a:hover {
  text-decoration: 1px solid underline;
}

ul.members-list {
  list-style-type: none;
}

.container {
  display: flex;
}

.white {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--light-border-line);
}

ul.members-list > li {
  margin: 10px 0px;
}

ul.members-list > li > p {
  font-weight: bold;
  margin: 0px;
  display: inline-block;
}

ul.members-list > li > div {
  font-size: 0.9em;
  margin: 0px;
}

#aboutus {
  /*background-image: A cool picture;*/
  /*Placeholder: */
  background: url("https://p11cdn4static.sharpschool.com/UserFiles/Servers/Server_121391/Templates/nhs-pa.jpg") no-repeat 0 0;
  background-size: 100%;/* <- Placeholder  var(--background-color)*/;
  /* :placeholdeR*/
  /*height: 100vh;You know that this is supposed to be rather large.  If you want to change it, thats fine, 
  just make sure it is somewhat big as it is what draws attention to the home page.*/
  margin: auto;
}

#aboutus .heroimg-content {
  background-color: var(--content-color);
  width: 80%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 2em;
}

#aboutus .heroimg-info {
  /*This contains it, that is just the text I believe*/
  margin: 10% auto auto 80px;
}

#heroimg-info {
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer-bar-color);
  border: 1px solid var(--light-border-line);
  border-width: 1px 0px 0px 0px;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

article {
  text-align: center;
  margin: 10px;
  width: calc(100% - 20px);
  margin-bottom: 60px;
}

.github > a {
  height: 1.5em;
  display:inline-block;
}

.github > a::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  /*   margin-right: 5px; */
  content: "";
  background: url("../images/github.png")
    no-repeat 0 0;
  background-size: 100%;
}
