@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Recursive&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

:root {
  --default-text-color: #d3d3d3;
  --default-bg-color: #282a2e;
  --link-color: #4376e6;
  --clicked-link-color: #453fa0;
  --current-url-color: #4376e6;
  --light-border-line: #252525;
  --nav-bar-color: #111111;
  --footer-bar-color: #111111;
}

@media (prefers-color-scheme: light) {
  :root {
    --default-text-color: #1f1f1f;
    --default-bg-color: #ffffff;
    --light-border-line: #e4e4e4;
    --nav-bar-color: #f7f7f7;
    --footer-bar-color: #f7f7f7;
    /*--default-bg-color: #f7f5f5;    Try to use a more whitish color because I can't rly think of a good navbar color to ft that blueish one*/
  }
}

body {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}

nav {
  background-color: var(--nav-bar-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  border: 1px solid var(--light-border-line);
  border-width: 1px 0px;
}

nav ul {
  font-family: inherit /*Whatev you want*/;
  padding: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

ul.horizontal-list {
  display: flex;
  margin-right: 20px;
  list-style-type: none;
  justify-content: space-evenly;
}


a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--clicked-link-color);
}

a:active {
  color: var(--clicked-link-color);
}

a:hover {
  font-style: underline;
}

ul.members-list {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

ul.members-list > li {
  margin: 10px 0px;
}

ul.members-list > li > p {
  font-weight: bold;
  margin: 0px;
  display: inline-block;
}

ul.members-list > li > div {
  font-size: 0.9em;
  margin: 0px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer-bar-color);
  border: 1px solid var(--light-border-line);
  border-width: 1px 0px 0px 0px;
  padding: 10px;
  text-align: center;
}

article {
  text-align: center;
  margin: 10px;
}

.github > a {
  content: url(../images/github.png);
  height: 1.5em;
}

.github {
  display: inline-block;
}
