@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Recursive&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

:root {
  --default-text-color: #d3d3d3;
  --default-bg-color: #282a2e;
  --link-color: #4376e6;
  --clicked-link-color: #453fa0;
  --current-url-color: #4376e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --default-text-color: #1f1f1f;
    --default-bg-color: #c4d3f5;
    /*--default-bg-color: #f7f5f5;    Try to use a more whitish color because I can't rly think of a good navbar color to ft that blueish one*/

  }
}

body {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-family: "Ubuntu", sans-serif;
}

nav ul.site-header.site-nav-list {
  font-family: Arial /*Whatev you want*/;
  padding: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

ul.horizontal-list {
  display: flex;
  margin-right: 20px;
  list-style-type: none;
}

ul.horizontal-list > li {
  margin: auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--clicked-link-color);
}

a:active {
  color: var(--clicked-link-color);
}


a:hover {
  font-style: underline;
}

ul.members-list {
  list-style-type: square;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul.members-list > li {
  margin: 10px 0px;
}

ul.members-list > li > p {
  font-weight: bold;
  margin: 0px;
}

ul.members-list > li > div {
  font-size: 0.8em;
  margin: 0px;
}

footer {
  display: flex;
  align-self: flex-end;
}
